$Play = 'Play', sans-serif

$c-white = #fff
$c-whitetext = #EEF1F2
$c-black = #000
$c-bluekeaz = #04488E
$c-bluemain = #182D4C
$c-bluebutton = #002E6D
$c-orange = #FF7306
$c-orangemain = #E9530E
$c-orange_1 = #FF5000
$c-pink = #F9CDD0
$c-red = #E30613
$c-green = #2dd284