mixin description()

    +b('section').description
        .container
            +e('h4').title Екатеринбург, Ленина&nbsp;9а
            +e('p').text Отель Хилтон, конференц-зал &laquo;Флоренция&raquo;