mixin event()

    +b('section').event
        .container
            +e('h4').title Программа мероприятия
            +e('ul').list
                +e('li').item
                    +e('p').time 13:00&mdash;13:30
                    +e('p').stage Сбор участников. Кофе-брейк
                +e('li').item
                    +e('p').time 13:30&mdash;14:30
                    +e('p').stage Презентация &laquo;КЭАЗ&nbsp;&mdash; надежность без компромиссов&raquo;
                +e('li').item
                    +e('p').time 14:30&mdash;15:00
                    +e('p').stage Сервисы КЭАЗ для проектировщиков. Розыгрыш призов среди участников конференции
                +e('li').item
                    +e('p').time 15:00&mdash;15:15
                    +e('p').stage Кофе-брейк
                +e('li').item
                    +e('p').time 15:15&mdash;16:15
                    +e('p').stage Сервисы КЭАЗ для проектировщиков
                +e('li').item
                    +e('p').time 16:15&mdash;16:35
                    +e('p').stage Уникальная маркетинговая программа для проектировщиков &laquo;КЭАЗ Теоретик&raquo;. Новый ЛК&nbsp;Проектировщика.
                +e('li').item
                    +e('p').time 16:35&mdash;18:00
                    +e('p').stage Фуршет и&nbsp;розыгрыш призов среди участников конференции
