mixin footer()

    +b('section').footer
        .container
            +e.wrap
                +e('p').logo &copy;&nbsp;КЭАЗ 2022
                +e.links
                    +e(href = "#").link Политика конфиденциальности
                    +e(href = "#").link Пользовательское соглашение